{% extends "base.html" %}
{% block title %}Library - add_item{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Add New Item</title>
</head>
<body>
    <h1>Add New Item</h1>
    <form method="post" action="{{ url_for('add_item') }}">
        <label for="name">Item Name:</label>
        <input type="text" id="name"  name="name" list="itemList"  required>
        <datalist id="itemList">
            <option value="Chicken Breast">
            <option value="Marinated Chicken Wings">
            <option value="Mojito Grilled Chicken Breast">
            <option value="Salmon Fillet">
            <option value="Pineapple Teriyaki Salmon">
            <option value="Venison Steak">
            <option value="Garlic Butter Steak Tips">
            <option value="Pork Ribs">
            <option value="Chipotle Lime Pork Tenderloin">
            <option value="Tiger Shrimp">
            <option value="Spicy Cajun Shrimp Skewers">
        </datalist>
        <br>
        <label for="price">Item Price:</label>
        <input type="number" id="price" name="price" step="0.01" required>
        <br>
        <label for="weight">Item Weight (KG):</label>
        <input type="number" id="weight" name="weight" step="0.01" required>
        <br>
        <label for="supplier">Supplier:</label>
        <input type="text" id="supplier" name="supplier" list="supplierList" required>
        <datalist id="supplierList">
            <option value="Sam and Co Supplier">
            <option value="Jack Farm">
            <option value="Family Kims">
            <option value="Kim K company">
            <option value="Happy Hearts">
            <!-- Add more supplier options as needed -->
        </datalist>
        <br>
        <button type="submit">Add Item</button>
    </form>
    <br>
    <a href="{{ url_for('index') }}">Back to Home</a>
</body>
</html>
{% endblock %}
